<template>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <h3 class="card-header bg-success text-white">Log in</h3>
                <div class="card-block">
                    <div class="alert alert-danger" v-if="error">{{error}}</div>
                    <form @submit.prevent="validateBeforeSubmit">
                            <div class="form-group" :class="{'has-danger': errors.has('email')}">
                                <label for="email">Email</label>
                                <input 
                                    type="email" 
                                    class="form-control" 
                                    id="email" 
                                    placeholder="youremail@domain.com"
                                    v-model="email"
                                    v-validate.initial="email" 
                                    data-rules="required|email"
                                    data-delay="1000"
                                >
                                <small 
                                    class="form-text text-danger"
                                    v-show="errors.has('email')"
                                >
                                    {{errors.first('email')}}
                                </small>

                            </div>
                            <div class="form-group" :class="{'has-danger': errors.has('password')}">
                                <label for="password">Password</label>
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    id="password"
                                    placeholder="YourStrongPassword"
                                    v-model="password"
                                    v-validate.initial="password"
                                    data-rules="required|alpha_num|min:6"
                                    data-delay="1000"
                                >
                                <small
                                    class="form-text text-danger"
                                    v-show="errors.has('password')"
                                >
                                    {{errors.first('password')}}
                                </small>
                            </div>
                            <button type="submit" class="btn btn-success">Log in</button>
                        </form>
                </div><!-- end card-block -->
            </div>
        </div>
        <pre>
        {{$data}}
        </pre>
    </div>
</template>

<script>
    var Axios = require('axios');
    var LOGIN_URL = '/api/users/login';

    module.exports = {
        data: function() {
            return {
                email: '',
                password: '',
                error: '',
                response: ''
            } 
        },
        methods: {

            validateBeforeSubmit: function(e) {
                this.$validator.validateAll();
                if(!this.errors.any()) {
                    this.submit()
                }
            },

            submit: function() {
                var self = this;
                Axios.post(LOGIN_URL, {
                    email: self.email,
                    password: self.password
                })
                .then(function(response) {
                    self.response = response;
                    self.error = '';
                    self.$router.push('/');
                })
                .catch(function(error) {
                    if(error.response) {
                        self.error = error.response.data.message
                    } else {
                        self.error = 'No response from server!'
                    }
                })
            }
        }
    }
</script>