<template>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            
        </div>
        <pre>
        {{$data}}
        </pre>
    </div>
</template>

<script>
    var Axios = require('axios');
    var LOGOUT_URL = '/api/users/logout';

    module.exports = {
        data: function() {
            return {
                error: '',
                message: ''
            }
        },
        created: function() {
            var self = this;
            Axios.get(LOGOUT_URL)
            .then(function(response) {
                self.message = response.data.message;
            })
            .catch(function(error) {
                if(error.response) {
                    self.error = error.response.data.message
                } else {
                    self.error = 'No response from server!'
                }
            })
        }
    }
</script>