<template>
    <div>
        {{content}}
    </div>
</template>

<script>
    var Nes = require('nes/client');
    var ROBOTS_URL = 'ws://localhost:8081';

    module.exports = {
        data: function() {
            return {
                content: ''
            }
        },
        created: function() {
            this.getRobots(ROBOTS_URL)
        },
        methods: {
            getRobots: function(url) {
                var self = this;
                var client = new Nes.Client(url);
                client.connect(function(err) {
                    if(err) {
                        self.content = err
                    }
                })
            }    
        }
    }
</script>