<template>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <h3 class="card-header bg-success text-white">Sign up</h3>
                <div class="card-block">
                    <div class="alert alert-danger" v-if="error">{{error}}</div>
                    <form @submit.prevent="validateBeforeSubmit">
                            <div class="form-group" :class="{'has-danger': errors.has('email')}">
                                <label for="email">Email</label>
                                <input 
                                    type="email" 
                                    class="form-control" 
                                    id="email" 
                                    placeholder="Enter your email"
                                    v-model="email"
                                    v-validate.initial="email" 
                                    data-rules="required|email"
                                    data-delay="1000"
                                >
                                <small 
                                    class="form-text text-danger"
                                    v-show="errors.has('email')"
                                >
                                    {{errors.first('email')}}
                                </small>

                            </div>
                            <div class="form-group" :class="{'has-danger': errors.has('username')}">
                                <label for="username">Username</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="username"
                                    placeholder="Enter desired username"
                                    v-model="username"
                                    v-validate.initial="username"
                                    data-rules="required|alpha_num|min:5|max:30"
                                    data-delay="1000"
                                >
                                <small
                                    class="form-text text-danger"
                                    v-show="errors.has('username')"
                                >
                                    {{errors.first('username')}}
                                </small>
                            </div>
                            <div class="form-group" :class="{'has-danger': errors.has('password')}">
                                <label for="password">Password</label>
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    id="password"
                                    v-model="password"
                                    v-validate.initial="password"
                                    data-rules="required|alpha_num|min:6"
                                    data-delay="1000"
                                >
                                <small
                                    class="form-text text-danger"
                                    v-show="errors.has('password')"
                                >
                                    {{errors.first('password')}}
                                </small>
                            </div>
                            <button type="submit" class="btn btn-success">Sign up</button>
                        </form>
                </div><!-- end card-block -->
            </div>
        </div>
        <pre>
        {{$data}}
        </pre>
    </div>
</template>

<script>
    var Axios = require('axios');
    var SIGN_UP_URL = '/api/users/new';
    

    module.exports = {
        data: function() {
            return {
                email: '',
                username: '',
                password: '',
                error: '',
                response: ''
            } 
        },
        methods: {

            validateBeforeSubmit: function(e) {
                this.$validator.validateAll();
                if(!this.errors.any()) {
                    this.submit()
                }
            },

            submit: function() {
                var self = this;
                self.error = '';
                Axios.post(SIGN_UP_URL, {
                    email: self.email,
                    username: self.username,
                    password: self.password
                })
                .then(function(response) {
                    self.response = response;
                    self.error = '';
                    self.$router.push('/login');
                })
                .catch(function(error) {
                    if(error.response) {
                        let errData = error.response.data.errData;
                        if(errData.length) {
                            errData.forEach(function(el) {
                                self.errors.add(el.field, el.msg)
                            })
                        }
                    } else {
                        self.error = 'No response from server!'
                    }
                })
            }
        }
    }
</script>